@media screen and (max-width: 480px) {

    div.container {
        width: 80vw;
    }

    button {
        width: 60%;
    }

    input {
        width: 60%;
        height: 60%;
    }

    div.cadastro p.p-cadastro {
        text-align: center;
    }
}