@media screen and (max-width: 480px) {

    div.container {
        width: 80vw;
    }

    button {
        margin: 10px;
    }

    div.entrada-dados {
        margin: 10px;
    }

    div.cadastro p.p-cadastro {
        text-align: center;
    }
}